################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/CodeNames
/CodeNames/bin/Debug/netcoreapp3.0
/CodeNames/obj
/CodeNames/bin/Release/netcoreapp3.0
/CodeNames/Properties/PublishProfiles
